/* filepath: /e:/Hackathon-evaluationparia/client/app/components/ui/Button.module.css */
.button {
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    outline: none;
    box-shadow: 0 0 0 3px rgba(98, 0, 234, 0.5);
  }
  
  .sm {
    padding: 5px 10px;
    font-size: 14px;
  }
  
  .md {
    padding: 10px 20px;
    font-size: 16px;
  }
  
  .lg {
    padding: 15px 30px;
    font-size: 18px;
  }
  
  .icon {
    padding: 8px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .solid {
    background-color: #6200ea;
    color: white;
    border: none;
  }
  
  .solid:hover {
    background-color: #3700b3;
  }
  
  .solid:active {
    background-color: #03dac5;
  }
  
  .outline {
    background-color: transparent;
    color: #6200ea;
    border: 2px solid #6200ea;
  }
  
  .outline:hover {
    background-color: rgba(98, 0, 234, 0.1);
  }
  
  .outline:active {
    background-color: rgba(98, 0, 234, 0.2);
  }
  
  .ghost {
    background-color: transparent;
    color: white;
    border: none;
  }
  
  .ghost:hover {
    color: #3700b3;
  }
  
  .ghost:active {
    color: #03dac5;
  }